{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <table class="table table-hover">
    <tr>
      <td width="256px"><img src="{{ user.avatar(192) }}"></td>

      <td>
        <h1>{{ user.username }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}
        <p>Last Seen: {{ moment(user.last_seen).calendar() }}</p>
        {% endif %}
        <p>
          <table>
            <tr>
              <td width="128px">Followers: {{ user.followers.count() }}</td>
              <td>Following: {{ user.followed.count() }}</td>
            </tr>
          </table>
        </p>
        {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}"> Edit Profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
        {% else %}
        <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}
      </td>
    </tr>
  </table>

  {% if user == current_user %}
    {% include '_form.html' %}
  {% endif %}
  <br>

  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}

  {% include '_pagination.html' %}

{% endblock %}
